<!DOCTYPE html>
<html>
	
	<style>
    nen1 {
        background-color: #41c04d;
    }
    nen2 {
        background-color: rgb(135,206,235);
    }
    nen3 {
        background-color: coral;
    }
</style>
	
<body class="nen1">


<div  class="scrollable">
	<div  class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<font color="FF0000">
					<h2><b>WEB SERVER ĐIỀU KHIỂN THIẾT BỊ</b>
				</h2>
			     </font>
			</div>
			 <font color="008B00">
			<!-- Cảm biến mưa -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading"><b>Cảm biến mưa</b></h3>
					<button style="color:red;height:35px;border-radius:10px;" class="button" ng-click="updateSensor()">
						Cập nhật cảm biến
					</button>
                                        <br> <br>
					Kết quả: {{CamBienMua}}
				</div>
			</div>
			
			<!-- Servo -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading"><b>Servo</b></h3>
					<input type="text" class="input text" ng-model="servoPosition" ng-change="updateServo(servoPosition)" />
				</div>
			</div>
			
			<!-- Hiển thị lên LCD-->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading"><b>LCD <b></h3>
					<input type="text" class="input text" ng-model="lcd[0]" ng-change="updateLCD()" />
					<input type="text" class="input text" ng-model="lcd[1]" ng-change="updateLCD()" />
				</div>
			</div>
			
			
			<!-- LED -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading"><b>Trạng thái LED</b></h3>
					<div ng-repeat="led_value in leds_status  track by $index">
						Đèn LED  {{$index}} đang {{led_value ? "Bật" : "Tắt"}}. <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-change="changeLED()" ng-model="leds_status[$index]" />
					</div>
				</div>
			</div>
			
			</font>
			
		</div>
		
		
		<br>
			 <font color="#0B610B" size="5">
			
			<i>
                     <marquee width="100%" behavior="scroll">  
                          Mô hình Web Server điều khiển thiết bị - Thiết kế: Đinh Văn Hải
                    </marquee>
							    </i>
							    </font>
		
		
		
		
	</div>
</div>
	
	</body>
</html>
